<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron text-dark my-4 my-lg-5 py-3 " style="border-radius: 0px; background-color:#e3f2fd;">
    <h3>Welcome to Ecommerce App</h3>
  </div>
  <div class="row">
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://m.media-amazon.com/images/I/61AwGDDZd3L._SX522_.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Mobile Phones</h5>
        <p class="card-text">
          Show off with a brand new phone from trusted brands
        </p>
        <a href="/home/mobile" class="btn " style="background-color:#e3f2fd;">Check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://assets.ajio.com/medias/sys_master/root/20220812/hgVH/62f55ef4f997dd03e23f2d49/-1117Wx1400H-461866963-blue-MODEL.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Clothes</h5>
        <p class="card-text">
          Get exciting offers on the casual and formal sections
        </p>
        <a href="/home/clothes" class="btn" style="background-color:#e3f2fd;">Check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://qph.cf2.quoracdn.net/main-qimg-a492e4b493bd0a39ee9a5d27a7a0cf67-lq"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Stationary</h5>
        <p class="card-text">
          Gift your children with quality products from our Staionary
        </p>
        <a href="/home/stationary" class="btn" style="background-color:#e3f2fd;">Check here</a>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
